<div class="container">
  <form action="/"  class="js-create-tortilla" method="POST" >
    <label>Name:</label>
    <input type="text" name="name" value="{{name}}">
    <label>Special: </label>
    <input type="text" name="special" value="{{special}}">
    <label>Size: </label>
    <select id="size-select" name="size" value="{{size}}">
      <option value="small">Small</option>
      <option value="medium">Medium</option>
      <option value="big">Big</option>
    </select>

    <div>
      <label for="latitude">Latitude</label>
      <input type="text" id="latitude" name="latitude">
    </div>
    <div>
      <label for="longitude">Longitude</label>
      <input type="text" id="longitude" name="longitude">
    </div>


    {{#if name}}
    <input type="hidden" name="_id" value="{{_id}}">
    <button type="submit" disabled>Editar tortilla</button>
    {{else}}
    <button type="submit" disabled>Create yo' tortilla!</button>
    {{/if}}

  </form>
</div>

<script src="/javascripts/location.js"></script>